.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 34px;
  z-index: 1;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
  }

  &__logo {
    height: 57.76px;
    @media screen and (max-width: 450px) {
      height: 48px;
    }
  }

  .toggel__btn {
    padding: 2px;
    display: none;
    cursor: pointer;

    @media screen and (max-width: 992px) {
      display: block;
    }
    > span {
      display: block;
      width: 26px;
      height: 2px;
      border-radius: 29px;
      background-color: $navBtn;
      transition: all 300ms ease-in-out;
      transform-origin: -1px 2px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  // Hamburger open styles

  &.open {
    .toggel__btn {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 992px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 100vh;
      background: linear-gradient(100.51deg, #00d8c3 6.16%, #00a795 103.42%);
      flex-direction: column;
      clip-path: circle(0% at 0 0);
      align-items: center;
      transition: all 1s ease-out;
    }

    &.active {
      clip-path: circle(140% at 1% 0);
    }
  }

  &__list {
    display: flex;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      &:nth-child(2) {
        transition: all 0.5s ease 0.6s;
      }
      &:nth-child(3) {
        transition: all 0.5s ease 0.9s;
      }
      &:nth-child(4) {
        transition: all 0.5s ease 1s;
      }
    }
  }

  &__item {
    margin: 0 2.3438rem;

    &.fade {
      opacity: 1;
    }
    @media screen and (max-width: 992px) {
      margin: 40px 0px;
      opacity: 0;
    }
  }

  &__link {
    font-weight: normal;
    font-size: 1rem;
    color: $fontColor;
  }

  &__btn {
    background-color: $lightGreem;
    padding: 16px 26px;
    color: $white;

    @media screen and (max-width: 992px) {
      margin-right: 45px;
      font-size: 1.25rem;
    }
  }

  // =================== Header Scroll ================

  &__scroll {
    box-shadow: 0 -1px 4px rgba(10, 10, 10, 0.15);
    background-color: rgba(204, 243, 239, 0.986);
    top: 0;
  }
}

.header {
  padding-top: 2.375rem;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(100.51deg, #00d8c3 6.16%, #00a795 103.42%);

  // ===========================  hero section ============

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
      justify-items: center;
      padding-top: 10.8125rem;
    }

    &__rightSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 30.875rem;
    }

    &__header {
      font-size: 3.6012rem;
      font-weight: bold;
      color: $white;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      animation: moveLeft 1s ease-out;
      @media screen and (max-width: 400px) {
        font-size: 2.7rem;
      }
    }

    &__pragraph {
      font-size: 1.1875rem;
      margin-top: 2rem;
      color: $white;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      animation: moveright 1s ease-in;
    }

    &__btn {
      padding: 24.5px 175px;
      background-color: $white;
      font-size: 1.25rem;
      color: $lightGreem;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      margin-top: 2rem;
      animation: moveInBtn 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
      @media screen and (max-width: 1500px) {
        padding: 24.5px 160px;
      }

      @media screen and(max-width:508px) {
        padding: 24.5px 100px;
      }

      @media screen and (max-width: 400px) {
        font-size: 1.1rem;
        padding: 24px 80px;
      }
    }

    &__img {
      position: relative;
      top: 70px;
    }
  }
}
