// Colors
$lightGreem: #00d8c3;
$sectionTitle: #00d8c3;
$cardTitle: #22292e;
$famouQush: #2c2c42;
$famouQusp: #4f4f4f;
$navBtn: #5dd5c4;
$famouQusHeader: #62d4c2;
$bodyBackGround: #f6f7fb;
$white: #ffffff;
$orange: #ff9b06;
$inputColor: #f9fafb;
$fontColor: #333333;
$facebookcolor: #3b5999;
$twitterColor: #46c1f6;
$youtubeColor: #e1306c;
$instgramColor: #de463b;
$copyRightColor: #828282;

// Font size

$font-sm: 1rem; //16px
